---
http_interactions:
- request:
    method: get
    uri: https://project.cantierecreativo.net/users/current.json?key=CANTIERE_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"6df553109c9cbad2780d79137ea91f28"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"user":{"last_login_on":"2012/05/04 18:46:33 +0200","lastname":"Verna","mail":"stefano.verna@gmail.com","login":"steffoz","created_on":"2012/02/14
        16:47:55 +0100","firstname":"Stefano","id":18}}'
  recorded_at: Sat, 05 May 2012 12:55:51 GMT
- request:
    method: get
    uri: https://project.cantierecreativo.net/issues.json?assigned_to_id=18&key=CANTIERE_TOKEN&status_id=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"1a8b51089c42fdc3e314a8508fe1bd39"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"offset":0,"issues":[{"priority":{"name":"Normal","id":4},"updated_on":"2012/05/03
        16:32:34 +0200","subject":"mailchimp","assigned_to":{"name":"Stefano Verna","id":18},"status":{"name":"New","id":1},"tracker":{"name":"Feature","id":2},"start_date":"2012/05/03","description":"ecco
        il codice per il form mailchimp:\r\n******************************************\r\n\u003C!--
        Begin MailChimp Signup Form --\u003E\r\n\u003Clink href=\"http://cdn-images.mailchimp.com/embedcode/classic-081711.css\"
        rel=\"stylesheet\" type=\"text/css\"\u003E\r\n\u003Cstyle type=\"text/css\"\u003E\r\n\t#mc_embed_signup{background:#fff;
        clear:left; font:14px Helvetica,Arial,sans-serif; }\r\n\t/* Add your own MailChimp
        form style overrides in your site stylesheet or in this style block.\r\n\t   We
        recommend moving this block and the preceding CSS link to the HEAD of your
        HTML file. */\r\n\u003C/style\u003E\r\n\u003Cdiv id=\"mc_embed_signup\"\u003E\r\n\u003Cform
        action=\"http://CantiereCreativo.us2.list-manage.com/subscribe/post?u=c77c7f8b8f73acd46067732ec\u0026amp;id=36a9f9f1ce\"
        method=\"post\"[...]
- request:
    method: get
    uri: https://project.cantierecreativo.net/projects/74.json?key=CANTIERE_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"e572d8cb37db9353fd6d0d2dfb4e3f0a"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"parent":{"name":"Cantiere Creativo","id":48},"updated_on":"2012/04/11
        10:19:13 +0200","description":"progetto di formazione di una community che
        gravity intorno a ruby","created_on":"2012/04/11 10:19:13 +0200","identifier":"flor","name":"Florence
        on ruby","id":74,"homepage":""}}'
  recorded_at: Sat, 05 May 2012 12:55:52 GMT
[...]
- request:
    method: get
    uri: http://code.welaika.com/users/current.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"500d2715604701bafcb8473e4ebac37e"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"user":{"mail":"stefano.verna@welaika.com","last_login_on":"2012/05/03
        11:45:10 +0200","lastname":"Verna","login":"steffoz","created_on":"2010/02/11
        09:34:28 +0100","firstname":"Stefano","id":4}}'
  recorded_at: Sat, 05 May 2012 12:55:56 GMT
- request:
    method: get
    uri: http://code.welaika.com/issues.json?assigned_to_id=4&key=WELAIKA_TOKEN&status_id=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"4e0411f3e23464c32428942d0089976e"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"limit":25,"issues":[{"status":{"name":"New","id":1},"updated_on":"2012/05/03
        09:06:07 +0200","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":0,"description":"-
        per tutte le app, tutti i mercati, solo iOS, proviamo a prendere il valore
        dei \"new users\" e metterlo a newUsers/4\r\n- per tutte le app, tutti i mercati,
        solo Android, proviamo a prendere il valore dei \"new users\" e metterlo a
        newUsers*10\r\n","tracker":{"name":"Feature","id":2},"start_date":"2012/05/03","created_on":"2012/05/03
        09:04:06 +0200","subject":"New Users iOS","author":{"name":"Paolo Romagnoli","id":63},"id":3316,"priority":{"name":"Urgent","id":6},"project":{"name":"Dashboard
        FIAT","id":82}},{"status":{"name":"New","id":1},"updated_on":"2012/04/27 18:15:57
        +0200","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":0,"description":"","tracker":{"name":"Feature","id":2},"start_date":"2012/04/27","created_on":"2012/04/27
        18:15:57 +0200","subject":"Orlando Locator","author":{"name":"Stefano Verna","id":4},"id":3296,"priority":{"name[...]
- request:
    method: get
    uri: http://code.welaika.com/projects/82.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"b17ba1116d4aaaecb964417078e703b4"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"parent":{"name":"Seac02","id":62},"updated_on":"2012/02/17
        18:05:04 +0100","custom_fields":[{"value":"0","name":"Send Diff Emails","id":1}],"description":"","created_on":"2012/01/23
        09:05:05 +0100","identifier":"dashboard-fiat","name":"Dashboard FIAT","homepage":"","id":82}}'
  recorded_at: Sat, 05 May 2012 12:55:57 GMT
[...]
- request:
    method: get
    uri: http://code.welaika.com/projects/101.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"d6285a3cb224ea4aeab8d914d70f4ffc"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"updated_on":"2012/04/25 12:59:43 +0200","custom_fields":[{"value":"0","name":"Send
        Diff Emails","id":1}],"description":"","created_on":"2012/04/25 12:59:43 +0200","identifier":"orchid","name":"Orchid","homepage":"","id":101}}'
  recorded_at: Sat, 05 May 2012 12:55:57 GMT
recorded_with: VCR 2.0.1
