---
http_interactions:
- request:
    method: post
    uri: https://project.cantierecreativo.net/time_entries.json?key=CANTIERE_TOKEN
    body:
      encoding: UTF-8
      string: ! '{"time_entry":{"project_id":"giunti-web","spent_on":"2012-05-02T08:10:08+00:00","hours":0.4166666666666667,"comments":"Layout
        homepage e contatti"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://project.cantierecreativo.net/time_entries/378
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"hours":0.416666666666667,"activity":{"name":"da valutare","id":15},"updated_on":"2012/05/05
        16:11:52 +0200","comments":"Layout homepage e contatti","spent_on":"2012/05/02","user":{"name":"Stefano
        Verna","id":18},"created_on":"2012/05/05 16:11:52 +0200","project":{"name":"Sito
        Giunti Educational ","id":56},"id":378}}'
  recorded_at: Sat, 05 May 2012 14:11:52 GMT
- request:
    method: post
    uri: http://code.welaika.com/time_entries.json?key=WELAIKA_TOKEN
    body:
      encoding: UTF-8
      string: ! '{"time_entry":{"issue_id":3293,"spent_on":"2012-05-04T15:04:57+00:00","hours":0.4166666666666667,"comments":"Ricette"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://code.welaika.com/time_entries/3943
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"spent_on":"2012/05/04","updated_on":"2012/05/05 16:11:53
        +0200","activity":{"name":"Development","id":9},"user":{"name":"Stefano Verna","id":4},"created_on":"2012/05/05
        16:11:53 +0200","hours":0.416666666666667,"comments":"Ricette","issue":{"id":3293},"id":3943,"project":{"name":"Olasagasti
        ","id":52}}}'
  recorded_at: Sat, 05 May 2012 14:11:53 GMT
recorded_with: VCR 2.0.1
