---
http_interactions:
- request:
    method: get
    uri: https://project.cantierecreativo.net/projects/giunti-web.json?key=CANTIERE_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"65d33299faf455805a802660e349d516"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"parent":{"name":"LCD (Gianni Sinni)","id":55},"updated_on":"2012/03/14
        21:52:12 +0100","description":"","created_on":"2012/03/14 21:52:12 +0100","identifier":"giunti-web","name":"Sito
        Giunti Educational ","id":56,"homepage":""}}'
  recorded_at: Mon, 25 Jun 2012 18:49:27 GMT
- request:
    method: get
    uri: http://code.welaika.com/issues/3293.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"e96d810afab9370460405d2b1279b664"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"issue":{"status":{"name":"Closed","id":5},"updated_on":"2012/05/07
        17:02:13 +0200","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":100,"description":"","tracker":{"name":"Feature","id":2},"start_date":"2012/04/27","created_on":"2012/04/27
        18:15:23 +0200","spent_hours":4.2152778208256,"subject":"Ricette","author":{"name":"Stefano
        Verna","id":4},"id":3293,"priority":{"name":"Normal","id":4},"project":{"name":"Olasagasti
        ","id":52}}}'
  recorded_at: Mon, 25 Jun 2012 18:49:27 GMT
[...]
- request:
    method: post
    uri: https://project.cantierecreativo.net/time_entries.json?key=CANTIERE_TOKEN
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"project_id":"giunti-web","spent_on":"2012-05-02T08:10:08+00:00","hours":0.08333333333333333,"comments":"Layout
        homepage e contatti"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://project.cantierecreativo.net/time_entries/1067
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"hours":0.0833333333333333,"activity":{"name":"da
        valutare","id":15},"updated_on":"2012/06/25 20:49:27 +0200","comments":"Layout
        homepage e contatti","spent_on":"2012/05/02","user":{"name":"Stefano Verna","id":18},"created_on":"2012/06/25
        20:49:27 +0200","project":{"name":"Sito Giunti Educational ","id":56},"id":1067}}'
  recorded_at: Mon, 25 Jun 2012 18:49:27 GMT
[...]
- request:
    method: post
    uri: http://code.welaika.com/time_entries.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"issue_id":3293,"spent_on":"2012-05-04T15:04:57+00:00","hours":0.08333333333333333,"comments":"Ricette"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://code.welaika.com/time_entries/4501
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"spent_on":"2012/05/04","updated_on":"2012/06/25 20:49:28
        +0200","activity":{"name":"Development","id":9},"user":{"name":"Stefano Verna","id":4},"created_on":"2012/06/25
        20:49:28 +0200","hours":0.0833333333333333,"comments":"Ricette","issue":{"id":3293},"id":4501,"project":{"name":"Olasagasti
        ","id":52}}}'
  recorded_at: Mon, 25 Jun 2012 18:49:28 GMT
recorded_with: VCR 2.0.1
