---
http_interactions:
- request:
    method: get
    uri: http://code.welaika.com/users/current.json?key=1dd4ac72b085df0e91c84b924c36cad48e7b5481
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"210f37abc00e2352ce9a7ebfc82e684d"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"user":{"mail":"stefano.verna@welaika.com","last_login_on":"2012/05/13
        11:17:28 +0200","lastname":"Verna","login":"steffoz","created_on":"2010/02/11
        09:34:28 +0100","firstname":"Stefano","id":4}}'
  recorded_at: Sun, 13 May 2012 12:36:07 GMT
- request:
    method: post
    uri: http://code.welaika.com/issues.json?key=1dd4ac72b085df0e91c84b924c36cad48e7b5481
    body:
      encoding: UTF-8
      string: ! '{"issue":{"subject":"foo","description":"bar","due_date":"2012-12-01","project_id":"olasagasti","priority_id":5,"assigned_to_id":4}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://code.welaika.com/issues/3395
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"issue":{"status":{"name":"New","id":1},"updated_on":"2012/05/13
        14:36:07 +0200","due_date":"2012/12/01","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":0,"description":"bar","tracker":{"name":"Bug","id":1},"start_date":"2012/05/13","created_on":"2012/05/13
        14:36:07 +0200","spent_hours":0.0,"subject":"foo","author":{"name":"Stefano
        Verna","id":4},"id":3395,"priority":{"name":"High","id":5},"project":{"name":"Olasagasti
        ","id":52}}}'
  recorded_at: Sun, 13 May 2012 12:36:08 GMT
recorded_with: VCR 2.0.1
