---
http_interactions:
- request:
    method: get
    uri: http://code.welaika.com/users/current.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"500d2715604701bafcb8473e4ebac37e"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"user":{"mail":"stefano.verna@welaika.com","last_login_on":"2012/05/03
        11:45:10 +0200","lastname":"Verna","login":"steffoz","created_on":"2010/02/11
        09:34:28 +0100","firstname":"Stefano","id":4}}'
  recorded_at: Sat, 05 May 2012 12:42:05 GMT
- request:
    method: get
    uri: http://code.welaika.com/issues.json?assigned_to_id=4&key=WELAIKA_TOKEN&status_id=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"4e0411f3e23464c32428942d0089976e"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"limit":25,"issues":[{"status":{"name":"New","id":1},"updated_on":"2012/05/03
        09:06:07 +0200","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":0,"description":"-
        per tutte le app, tutti i mercati, solo iOS, proviamo a prendere il valore
        dei \"new users\" e metterlo a newUsers/4\r\n- per tutte le app, tutti i mercati,
        solo Android, proviamo a prendere il valore dei \"new users\" e metterlo a
        newUsers*10\r\n","tracker":{"name":"Feature","id":2},"start_date":"2012/05/03","created_on":"2012/05/03
        09:04:06 +0200","subject":"New Users iOS","author":{"name":"Paolo Romagnoli","id":63},"id":3316,"priority":{"name":"Urgent","id":6},"project":{"name":"Dashboard
        FIAT","id":82}},{"status":{"name":"New","id":1},"updated_on":"2012/04/27 18:15:57
        +0200","assigned_to":{"name":"Stefano Verna","id":4},"done_ratio":0,"description":"","tracker":{"name":"Feature","id":2},"start_date":"2012/04/27","created_on":"2012/04/27
        18:15:57 +0200","subject":"Orlando Locator","author":{"name":"Stefano Verna","id":4},"id":3296,"priority":{"name":"Normal","id":4},"project":{"name":"Olasagasti
        ","id":52}},{"status":{"name":"New[...]
- request:
    method: get
    uri: http://code.welaika.com/projects/82.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"b17ba1116d4aaaecb964417078e703b4"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"parent":{"name":"Seac02","id":62},"updated_on":"2012/02/17
        18:05:04 +0100","custom_fields":[{"value":"0","name":"Send Diff Emails","id":1}],"description":"","created_on":"2012/01/23
        09:05:05 +0100","identifier":"dashboard-fiat","name":"Dashboard FIAT","homepage":"","id":82}}'
  recorded_at: Sat, 05 May 2012 12:42:06 GMT
[...]
- request:
    method: get
    uri: http://code.welaika.com/projects/101.json?key=WELAIKA_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"d6285a3cb224ea4aeab8d914d70f4ffc"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"project":{"updated_on":"2012/04/25 12:59:43 +0200","custom_fields":[{"value":"0","name":"Send
        Diff Emails","id":1}],"description":"","created_on":"2012/04/25 12:59:43 +0200","identifier":"orchid","name":"Orchid","homepage":"","id":101}}'
  recorded_at: Sat, 05 May 2012 12:42:07 GMT
recorded_with: VCR 2.0.1
