---
http_interactions:
- request:
    method: post
    uri: http://code.welaika.com/time_entries.json?key=1dd4ac72b085df0e91c84b924c36cad48e7b5481
    body:
      encoding: UTF-8
      string: ! '{"time_entry":{"issue_id":3392,"spent_on":"2012-01-01","hours":0.001388888888888889,"comments":"Foobar"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://code.welaika.com/time_entries/4015
      Status:
      - '201'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"time_entry":{"spent_on":"2012/01/01","updated_on":"2012/05/13 14:27:38
        +0200","activity":{"name":"Development","id":9},"user":{"name":"Stefano Verna","id":4},"created_on":"2012/05/13
        14:27:38 +0200","hours":0.00138888888888889,"comments":"Foobar","issue":{"id":3392},"id":4015,"project":{"name":"Olasagasti
        ","id":52}}}'
  recorded_at: Sun, 13 May 2012 12:27:38 GMT
recorded_with: VCR 2.0.1
